*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: black;
}

.container{
    position: relative;
    width:500px;
    height:500px;
    border: 2px solid white;
    border-radius:50%;
    align-items: center;
}

.container .icon{
    position: relative;
    left:-50%;
    bottom: -40%;
    right:50%;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;

}

.container .icon .imgBx{
    position: absolute;
    width: 90px;
    height:90px;
    border-radius: 50%;
    transition:0.5s;
    border:1px solid white;
    box-shadow: 0 0 0 4px #222, 0 0 0 6px white;
    transform:rotate(calc(360deg/8* var(--i)));
    transform-origin: 295px;
    z-index: 100;
    overflow: hidden;
}

.container .icon .imgBx.active{
    box-shadow: 0 0 0 4px #222, 0 0 0 12px #e55f25;
}

.container .icon .imgBx img{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
}